.body{
    background-color: #12131A;
}

.navbar, .form-control{
    background-color: #1C1C25;
    border: none;
}

.h2 span{
    color: #FFC045;
}

.h2{
    color: #fff;
}

.form-control::placeholder{
    color: rgba(255, 255, 255, 0.514);
}

.input-group-text{
    border: none;
    color: #fff; 
}

.bi{
    color: #fff;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.603);
}

.form-control{
    border: 0.5px solid rgba(255, 255, 255, 0.096);
}

.input-group input{
    background-color: #1C1C25;
    color: #fff;
}

.input-group input:focus{
    background-color: #1C1C25;
    color: #fff;
    border: none;
    font-weight: bold;
}

.row{
    /* justify-content: space-around; */
    --bs-gutter-y: 1rem !important;
}

.row h5{
    color: #fff;
}

.card-body{
    background-color: #1C1C25;
    /* background-color: yellow; */
    border-radius: 10px;
    transition: transform 0.4s;
}

.card-body:hover{
    transform: scale(1.05);
}

.card{
    --bs-card-border-width: 0 !important;
    --bs-card-bg: #1C1C25;
    --bs-card-border-radius: 10px !important;
}

.btn{
    --bs-btn-padding-x: 1rem !important;
}

p{
    color: darkgray;
}

h6{
    color: #28DF99;
    font-weight: 500;
}

.message-btn{
    background-color: #292932;
    color: #a4a4aa;
    border: none;
}

.message-btn:hover{
    background-color: #5b5b63;
    color: #a4a4aa;
    border: none;
}

.logo-box img{
    height: 20%;
    width: 20%;
    background-color: transparent;
    border-radius: 10px;
}

.tags-container{
    background-color: #292932;
    align-items: center;
    text-align: center;
    padding-bottom: 4px;
    border-radius: 5px;
}

.tags small{
    color: rgba(255, 255, 255, 0.616);
    font-size: 12px;
    font-weight: bold;
}

.description{
    height: 70px;
    overflow: hidden;
    flex-grow: 1;
}

